include ../mixins/mixins

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        //- script(src='https://kit.fontawesome.com/85404227e2.js' crossorigin='anonymous')
        //- script(src='/js/javascript/popper.min.js')
        
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css")
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
        link(rel="stylesheet", href="/css/main.css")
    body
        .wrapper
            .row
                nav.col-2
                    a.blue(href="/")
                        i.fas.fa-dove
                    a(href="/")
                        i.fas.fa-home
                    a(href="/search")
                        i.fas.fa-search
                    a(href="/notifications")
                        i.fas.fa-bell
                    a(href="/messages")
                        i.fas.fa-envelope
                    a(href="/profile")
                        i.fas.fa-user
                    a(href="/logout")
                        i.fas.fa-sign-out-alt
                .mainSectionContainer.col-10.col-md-8.col-lg-6
                    .titleContainer
                        h1 #{pageTitle}

                    block content

                .d-none.d-md-block.col-md-2.col-lg-4
                    span third column

    


        script(src='/js/javascript/jquery.min.js')
        script(src='/js/javascript/bootstrap.min.js')
        script(src="/js/common.js")

